@model BookLibrary.WebServer.Models.Books.EditBookModel

@{
    ViewData["Title"] = "Edit book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
        <h1 class="display-4">@ViewData["Title"] page</h1>
        <hr class="jumbotron-hr" />
        <div class="row">
            <div class="w-100">
                <form asp-controller="Books" asp-action="EditBook" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="UpdateBookMessage" class="text-danger"></span>
                    @await Html.PartialAsync("~/Views/Books/BookView.cshtml", Model)
                    <div class="form-group container">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>