@model Book_Library_ASP.NET_Core_MVC.Models.Books.UpdateBookModel

@{
    ViewData["Title"] = "Edit book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
        <h1 class="display-4">@ViewData["Title"] page</h1>
        <hr class="jumbotron-hr" />
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Books" asp-action="EditBook" method="post">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="UpdateBookMassege" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Authors" class="control-label"></label>
                        <input asp-for="Authors" class="form-control" />
                        <span asp-validation-for="Authors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>