
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr class="jumbotron-hr" />
    <h2>Book library ASP.NET Core MVC web project.</h2>
    <p>Demo application.</p>
</div>