@model BookLibrary.WebServer.Models.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        @{
            if (User.Identity.IsAuthenticated)
            {
            <link rel="stylesheet" href="~/datatables/css/datatables.min.css" />
            <script src="~/datatables/js/datatables.min.js" type="text/javascript"></script>
                <script src="~/js/booksTable.js" type="text/javascript"></script>
                <script src="~/js/indexPage.js"></script>

                <div style="margin: 10px 0px;">
                    <select asp-for="SelectedMode" asp-items="@(new SelectList(Model.TableModes,"Value","Text"))" class="form-control" style="left: 10pt; top: -3.4pt; position: relative; color: darkblue; margin-top: 5pt; width: 120pt; display: inline-block;">
                    </select>
                <a class="btn btn-primary" style="display: inline-block; float: right;" asp-area="" asp-controller="Books" asp-action="AddBook">Add Book</a>
                </div>

                <br />

            <div style="background-color: aliceblue; color: darkblue;">
                    <table id="library-table" class="display">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Authors</th>
                                <th>Year</th>
                                <th>Availability</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="text-center">
                    <h1 class="display-2">Welcome</h1>
                    <hr class="jumbotron-hr" />
                    <h2 class="centered">Book library web project.</h2>
                </div>
            }

        }


    </div>
