@model Book_Library_ASP.NET_Core_MVC.Models.Accounts.UserModel

@{
    ViewData["Title"] = "User cabinet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
        <h1 class="display-4">User cabinet</h1>
        <hr class="jumbotron-hr" />
        <hr class="jumbotron-hr" />
        <table class="table table-dark">
            <tr>
                <td><label asp-for="Login" class="control-label text-light "></label></td>
                <td><span class="text-warning">@Html.DisplayFor(m => m.Login)</span></td>
            </tr>
            <tr>
                <td><label asp-for="Email" class="control-label text-light "></label></td>
                <td><a href="mailto:@Model.Email" class="text-warning">@Html.DisplayFor(model => model.Email)</a></td>
            </tr>
            <tr>
                <td><label asp-for="FirstName" class="control-label text-light "></label></td>
                <td><span class="text-warning">@Html.DisplayFor(m => m.FirstName)</span></td>
            </tr>
            <tr>
                <td><label asp-for="LastName" class="control-label text-light "></label></td>
                <td><span class="text-warning">@Html.DisplayFor(m => m.LastName)</span></td>
            </tr>
        </table>

        <div>
            &nbsp;&nbsp;<a class="text-warning" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change password</a>
            <br />
            <br />
            &nbsp;&nbsp;<a class="text-danger" asp-area="" asp-controller="Account" asp-action="DeleteAccount">Delete account</a>
        </div>
        
    </div>